{{!-- for each post by userid, render the posts --}}

{{#each posts as |post|}}
{{> post-details}}
{{/each}}

<button id='newPost' class='btn btn-dark'>+ New Post</button>

<script src="/js/dashboard.js"></script>